// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$color-primary: #0096c7;
$color-secondary: #0077b6;
$color-light: #63c1ff;
$cadetblue: #5F9EA0;
$bg-light: #F2FCFE;
// $bg-light: #ffffff;
$bg-medium: #29B0BF;
$bg-dark: #2E4876;
$color-background: #1f73a0;
$navigation-bar-height: 64px;
$subnavigation-bar-height: 64px;

// 